    .Logview
     {
         font-family: "Courier New";
         width: 680px;
         height: 300px;
         overflow: auto;
         border: 1px solid black;
     }
     .ViewportNormal {
         display: none; 
         visibility: hidden; 
      } 

      .ViewportLocked { 
         display: block; 
         visibility: visible; 
         position: absolute; 
         z-index: 999; 
         top: 0px; 
         left: 0px; 
         width: 1024%; 
         height: 768%; 
         background-color: #ccc; 
         text-align: center; 
         padding-top: 20%; 
         filter: alpha(opacity=75); 
         opacity: 0.75; 
      } 